.vs/

Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Test/

build/
build_Unix/
build_Android/
bin/

./*.bat

*.aps
*.sln
*.exp
*.pdb
*.obj
*.recipe
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
